html {
	background: url("../images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
		overflow-y: scroll;
}

a, a:visited, a:active {
	color: #ccc;
	font-weight: bold;
	text-decoration: none
}

.cityListElement {
	background-color: rgba(3, 81, 117, 0.78);
	color: white;
	font-size: 14px;
	padding: 4px;
	border-radius: 3px;
	margin: 4px;
	line-height: 2em;
	cursor: pointer;
}

.highLighted {
	background-color: rgb(3, 81, 117);
}

input {
	padding: 5px;
	font-size: 24px;
	border-width: 0px;
	border-color: rgb(0, 96, 141);
	border-radius: 5px;
	width: 350px;
	margin-left: 10px;
}

input.spinner {
  background-image: url('../images/spinner-white.gif');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px 25px;
  margin-right: 5px;
}

#container {
	width: 83%;
	margin-left: 5%;
}

.box {
	font-family: 'Arial', serif;
	color: white;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: auto;
	width: 35%;
	background-color: rgba(0,0,0,0.3);
	padding: 0px 20px 20px 20px;
	border-radius: 4px;
}

#about {
	float: left;
	margin-left: 15%;
}

#chosenCity {
	float: right;
	margin-right: 8%;
}

.headline {
	font-size: 14px;
}

#currentCity {
	margin-left: 10px;
}

#spinner {
	width: 35px;
	height: 35px;
	position: relative;
	top: 10px;
	right: 44px
}