body {
  min-width: 536px;
  overflow-x: hidden;
  background-color: black;
  font-family: 'Iceland', cursive;
  font-size: 14px;
  color: white;
  margin: 0px;
}

#main {
  border-width: 5px 5px 0px 5px;
  border-color: rgb(53, 53, 53);
  border-style: solid;
}

.expandedMain {
  height : 100%;
  margin-bottom : 20px;
  border-width: 5px;
}

img {
  margin: 10px;
  vertical-align: middle;
}

.moonImage {
  margin-left: 17%;
}

#error, #setOptionsDialogue {
  font-family: 'Arial';
  margin: 45px 10px 30px 10px;
  vertical-align: middle;
  font-size: 14px;
}

#setOptionsDialogue a {
  text-decoration: none;
  color: rgb(103, 153, 255);
}

table {
  text-align: center;
  padding: 20px 0px;
}

th {
  padding: 0px 20px 8px 20px;
  font-weight: normal;
  font-size: 20px;
}

td {
  font-size: 24px;
}

footer {
  margin-bottom: 0px;
  background-color: rgb(18, 60, 112);
  border-width: 5px 5px 15px 5px;
  border-color: rgba(9, 38, 97, 0.46);
  border-style: solid; 
  min-width: 460px;
}

.moonMetric {
  padding: 5px;
  background-color: rgba(9, 38, 97, 0.46);
  border-radius: 5px;
}

#forCity {
  font-family: 'Arial';
  font-size: 10px;
  margin-left: 5px;
}

#forCity a, #forCity a:hover {
  color: grey;
  text-decoration: none;
}

#moonState {
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  text-align: right;
  padding-right: 25px;
}

table {
  margin-left: 15px;
}
