<html>

<head>
	<link rel="stylesheet" href="../stylesheets/options.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="main">
		<div id="chosenCity">
			<div class="headline">Currently selected city</div><span id="currentCity"> </span><br>
		</div>
		<input id="citiesQueryBox" type="text"></input>
		<div id="cities">
		</div>
		<script src="../javascripts/options.js" type="text/javascript"></script>
	</div>
</body>

</html>