<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css">
    <title>Current Lunar Phase</title>  
  </head>
  <body>  

    <div id="main">

      <div id="error" style="display:none">
        Could not load lunar phase. Please try again later.
      </div>

      <div id="setOptionsDialogue" style="display:none">
      </div> 

      <div id="spinner" style="display:none">
        <img src="../images/spinner.gif" /> Loading lunar phase...
      </div>
      
    </div>

    <footer id="footer" style="display:none">
      <table id="dataHolder">
        <tr>
          <th>State</th>
          <th>Part illuminated</th>
          <th>Sunrise</th>
          <th>Sunset</th>
        <tr> 
          <td><span class="moonMetric" id="moonState"></span></td>
          <td><span class="moonMetric" id="percentIlluminated"></span></td>
          <td><span class="moonMetric" id="sunRise"></span></td>
          <td><span class="moonMetric" id="sunSet"></span></td>
        </tr>
      </table>

      <div id="forCity"></div>

    </footer>
    <script src="../javascripts/popup.js"></script>
  </body>
</html>
