<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css">
    <title>Current Lunar Phase</title>  
  </head>
  <body>  
    <div id="main">
      <div id="error" style="display:none">
        Could not load lunar phase.
      </div>

      <div id="spinner" style="display:none">
        <img src="../images/spinner.gif" /> Loading lunar phase...
      </div>
      
    </div>

    <footer id="footer" style="display:none">
      <table id="dataHolder">
        <tr>
          <th>Part illuminated</th>
          <th>Age</th>
        <tr> 
          <td><span id="percentIlluminated"></span></td>
          <td><span id="ageOfMoon"></span></td>
        </tr>
      </table>
    </footer>

    <script src="../javascripts/popup.js"></script>
  </body>
</html>